
@plugin "daisyui/theme" {
  name: "skull";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(14% 0 0);
  --color-base-200: oklch(14% 0 0);
  --color-base-300: oklch(14% 0 0);
  --color-base-content: oklch(98% 0.003 247.858);
  --color-primary: oklch(98% 0.003 247.858);
  --color-primary-content: oklch(14% 0 0);
  --color-secondary: oklch(14% 0 0);
  --color-secondary-content: oklch(98% 0.002 247.839);
  --color-accent: oklch(14% 0.004 49.25);
  --color-accent-content: oklch(81% 0.117 11.638);
  --color-neutral: oklch(26% 0 0);
  --color-neutral-content: oklch(98% 0 0);
  --color-info: oklch(35% 0.144 278.697);
  --color-info-content: oklch(98% 0.003 247.858);
  --color-success: oklch(53% 0.157 131.589);
  --color-success-content: oklch(98% 0.003 247.858);
  --color-warning: oklch(79% 0.184 86.047);
  --color-warning-content: oklch(98% 0.026 102.212);
  --color-error: oklch(50% 0.213 27.518);
  --color-error-content: oklch(98% 0.003 247.858);
  --radius-selector: 0rem;
  --radius-field: 0rem;
  --radius-box: 0rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}
